<configuration>

    <property name="LOG_FILE" value="logs/app.log" />

    <appender name="ELASTIC" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5044</destination> <!-- Укажите адрес и порт вашего Logstash -->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <logger />
                <thread />
                <level />
                <message />
                <context />
                <arguments />
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="ELASTIC" />
    </root>

</configuration>
